# {{ template_destpath }}
# {{ ansible_managed }}

{% if not use_letsencrypt %}
<VirtualHost *:{{ apache_port_http }}>
    ServerName {{ site_domain }}
    ServerAlias www.{{ site_domain }}

    ErrorLog /var/log/{{ apache_name }}/{{ site_domain }}-error.log
    CustomLog /var/log/{{ apache_name }}/{{ site_domain }}-access.log combined

{% if use_letsencrypt and not use_ultrastack %}
    Redirect permanent / https://{{ site_domain }}/
{% else %}
    <Proxy "unix:{{ php_fpm_socket_path }}|fcgi://{{ system_user }}">
        ProxySet disablereuse=off
    </Proxy>

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://{{ system_user }}
    </FilesMatch>

    DocumentRoot {{ nc_system_path }}/
    DirectoryIndex index.html index.php

    <Directory {{ nc_system_path }}/>
        Options FollowSymLinks Multiviews
        AllowOverride All
        Require all granted

        <IfModule mod_dav.c>
          Dav off
        </IfModule>

    </Directory>
{% endif %}
</VirtualHost>
{% endif %}

{% if use_letsencrypt %}
<VirtualHost *:{{ apache_port_https }}>
    ServerName {{ site_domain }}
    Redirect / https://{{ site_domain }}
</VirtualHost>

<VirtualHost *:{{ apache_secure_port }}>
    ServerName {{ site_domain }}
    ServerAlias www.{{ site_domain }}

    ErrorLog /var/log/{{ apache_name }}/ssl-{{ site_domain }}-error.log
    CustomLog /var/log/{{ apache_name }}/ssl-{{ site_domain }}-access.log combined

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{ site_domain }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ site_domain }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ site_domain }}/chain.pem

    <Proxy "unix:{{ php_fpm_socket_path }}|fcgi://{{ system_user }}">
        ProxySet disablereuse=off
    </Proxy>

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://{{ system_user }}
    </FilesMatch>

    DocumentRoot {{ nc_system_path }}
    DirectoryIndex index.html index.php

    <Directory {{ nc_system_path }}>
        Options FollowSymLinks Multiviews
        AllowOverride All
        Require all granted

        <IfModule mod_dav.c>
          Dav off
        </IfModule>

    </Directory>
</VirtualHost>
{% endif %}
